
* { 
	margin: 0; 
	padding: 0; 
}

.edit {
    outline: none;
    border: 2px solid red;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
    cursor: move;
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
}

.over {
    border: 2px dashed red;
  }
